[submodule "src/external/grgen"]
	path = src/external/grgen
	url = git@github.com:jdisset/grgen.git
[submodule "src/external/gaga"]
	path = src/external/gaga
	url = git@github.com:jdisset/gaga.git
[submodule "src/external/mecacell"]
	path = src/external/mecacell
	url = git@github.com:jdisset/mecacell.git
[submodule "src/external/metaconfig"]
	path = src/external/metaconfig
	url = git@github.com:jdisset/metaconfig.git
[submodule "src/external/mecacell_yoro"]
	path = src/external/mecacell_yoro
	url = http://github.com/Yorokobii/MecaCell.git
[submodule "src/external/gaga_yoro"]
	path = src/external/gaga_yoro
	url = http://github.com/Yorokobii/gaga.git
